.main-home-content{
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 15px;
}

.left-side{
    background-color: rgb(255, 255, 255);
    height: 70vh;  
    margin-right: 15px;
    border-radius: 8px;
    padding: 15px;
}

.left-side, .view-meals-btn, .grocery-list-container{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.069);
}

.right-side{
    display: flex;
    flex-direction: column;
    height: 90vh;  
}

.view-meals-btn{
    background-color: rgb(122, 197, 220);
    color: white;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.grocery-list-container{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 8px;
}

.grocery-list-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 8px 8px 0px 0px;
}

.grocery-list-menu p{
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.add-item{
    position: absolute;
    right: 15px;
}

.add-item-btn{
    border: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
}